<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='../static_content.html'/>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Quiénes somos")}</%block>
<section class="container-fluid px-0" id="about_us">
    <img src="${static.url('jcpp-theme/images/banner_nosotros.jpg')}" alt="About Us" class="mx-auto jcpp-header d-block">
    <div class="container px-3">
        <h1 class="text-left mt-2">
            ${_('Japan Chile Partnership Programme 2030, JCPP2030')}
        </h1>
        <div class="about-content">
            <p>
                Luego de una larga trayectoria de la cooperación bilateral del Japón hacia Chile, que se remonta a
fines de los años cincuenta, y de iniciativas de cooperación sur-sur que se iniciaron en los años 80 a
través de cursos internacionales, en 1999 el Gobierno de Japón y el Gobierno de Chile acuerdan
fortalecer este mecanismo de cooperación y así promover el desarrollo económico y social
principalmente de los países de Latinoamérica y el Caribe. Es así que, en junio del 1999, se firma el
“Japan - Chile Partnership Programme”, o en español, “Programa de Asociación entre Chile - Japón”,
el JCPP, generando un marco en la colaboración donde se combinan eficazmente los recursos
humanos, tecnológicos y financieros de Japón y Chile.
            </p>
            <p>
                Los principios del JCPP apuntan a la creación de programas de formación conjunta, donde ambos
gobiernos aportan, mediante sus agencias, Agencia de Cooperación Internacional del Japón, JICA y la
Agencia Chilena de Cooperación Internacional para el Desarrollo, AGCID, en la implementación y
ejecución de programas de capacitación que se lleven a cabo en Chile, seminarios en terceros países,
envío de expertos chilenos y proyectos de cooperación técnica, entre otros.
            </p>
            <p>
                Bajo el alero del JCPP se abordaron temáticas diversas con un alcance amplio en Latinoamérica y el
Caribe. Uno de los ejemplos exitosos de esta cooperación, fue Kizuna, el Programa de Formación de
Recursos Humanos para Latinoamérica y el Caribe en Reducción de Riesgos de Desastres,
desarrollado entre los años 2015 y 2020. El Programa contó con el apoyo de más de 40 expertos
japoneses y ofreció capacitaciones, programas de perfeccionamiento y seminarios internacionales,
alcanzando una participación de más de 5000 personas, posicionando a Chile como una plataforma
de formación en RRD en Latinoamérica y el Caribe.
            </p>
            <p>
                En 2018, ambos países confirmaron su alianza estratégica a través del JCPP y los logros alcanzados
hasta ese momento, por lo cual, con el propósito de contribuir y apoyar a que los países alcancen los
Objetivos de Desarrollo Sostenible de las Naciones Unidas para el 2030, así como incorporar a
diversos actores públicos y privados en la cooperación para el desarrollo es que se decidió renovar el
JCPP y pasó a nombrarse JCPP2030.
            </p>
        </div>
    </div>
</section>